*{
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: rgb(37, 37, 37);
}
.header .center {
        display: block;
        margin-left: calc(100% - 1073px) / 2;
        margin-right: auto;
        justify-content: space-around;
}
.header .side1{
    width: auto;
    height: auto;
    background-image: url('file:///Users/nest/Downloads/4PzG8084.jpg');
}
.header .fb-icon {
    font-size:60px;
    color: blue; 
    text-decoration-color :white; 
    justify-content: space-around;
    margin-top: 5px;
}
.header .search-icon {
    font-size: 20px;
    color: green;
    justify-content: space-around;
    margin-top: calc((60px - 38px) / 2);
}
.header .serach .search-window {
    width: 100%;
    height: 50px;
    background-color: lightslategray;
    border-radius: 10%;
    margin-top: 5px;
}
.container{
    display: flex;
}
.sidebar {
    width: 25%;
    height: calc(100vh - 80px);
    background: grey;
}
.content {
    width: 50%;
    height: calc(100vh - 80px);
    background-color: black; 
}
.content .story {
    width: 100%;
    height: 250px;
    background-color: lightsalmon;
    display: flex;
    justify-content: space-around;
}
.story .s{
    margin-top: 20px;
    width: 120px;
    height: 200px;
    border-radius: 10%;
    background-color:  black;
}
.story .s:hover .image {
    opacity: 0.3;
  }
.story .s .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    border-radius: 10%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: auto;
  }
.story .s .image .users {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white; 
    padding: 0;
}
.row:hover {
    opacity: 0.3;
}
.story .row {
    size: 10px;
    margin-top: calc(110px);
    
}
.chat {
    width: 25%;
    height: calc(100vh - 80px);
    background-color: lightskyblue;
}
.post {
    width: 100%;
    height: 20vh;
    background-color: black;
}
.post .add_p {
    width: calc(100% - 40px);
    margin: 20px 20px;
    height: 100px;
    background-color: rosybrown;
}
.post .p {
    width: calc(100% - 40px);
    margin: 20px 20px;
    height: 100px;
    background-color: rosybrown;
}


